<ion-grid>
    <ion-row>
        <ion-card>
            <ion-button routerLink="signIn" routerLinkActive="active">Sign In</ion-button>
            <ion-button routerLink="signUp" routerLinkActive="active">Sign Up</ion-button>
        </ion-card>
    </ion-row>
    <!-- <ion-row>
        <ion-card>
            <ion-button (click)="show()">show</ion-button>
        </ion-card>
    </ion-row>
    <ion-row>
        <ion-item>
            <ion-card *ngFor="let res of result">{{res}}</ion-card>
        </ion-item>
    </ion-row> -->
</ion-grid>
<ion-item class="back">
    <ion-button href="#">Go Back</ion-button>
</ion-item>
